@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --primary: 222.1 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;

    --radius: 0.5rem;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-gray-900 antialiased font-sans min-h-screen flex flex-col;
  }
}
