@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand: #23545b;
}

@layer base {
  :root {
    --background: #F9F8F6;
    --foreground: #2D3748;

    --card: #FFFFFF;
    --card-foreground: #2D3748;
    --border: #E2E8F0;

    --primary: #23545b;
    --primary-foreground: #FFFFFF;
  }

  .dark {
    --background: #021a1e;
    --foreground: #FFFFFF;
    --muted-foreground: #A0aEC0;

    --card: #072C33;
    --card-foreground: #FFFFFF;
    
    --border: #134E48;

    --primary: #2DD4BF;
    --primary-foreground: #021a1e;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-[--background] text-[--foreground] antialiased font-sans min-h-screen flex flex-col transition-colors duration-300;
  }
}
