.inputField {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.valueDisplayedBox {
    margin-top: 12px;
}

.valueDisplayed {
    margin-right: 8px;
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 8px;
}
